body {
    background-image: url('bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: top left;
    margin: 0;
    padding: 190px 10px 10px;
}

header {
    border-bottom: 5px solid black;
    height: 165px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 998;
    background-image: url('bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: top left;
    /*margin-right: 125px;*/
}

#nav-box {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

img#jefe-pug {
    position: absolute;
    top: 15px;
    height: 150px;
    right: 10px;
}

#pug {
    position: fixed;
    top: 0;
    left: 0;
}

ul ul {
    margin-left: -20px;
}

#boggleContainer {
    background-color: black;
    display: inline-block;
    padding: 5px;
    width: fit-content;
    box-shadow: 0 5px 3px rgba(0, 0, 0, 0.5);
}

#inputArea {
    color: navajoWhite;
}

#userInput {
    color: navajoWhite;
    background-color: black;
    border: 2px solid navajoWhite;
    font-size: 1.3em;
    width: 485px;
}

#userInput:focus {
    outline: none;
}

path {
    display: inline;
    fill: #000000;
}

#loading {
    background: transparent;
    border: none;
    outline: none;
    top: max(240px, 15vh);
}

#jefeSpin {
    animation: rotateJefe 5s linear infinite;
    transform: translateX(20px);
}

#spinCircle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(235, 222, 208, 0.85);
    border-radius: 100%;
    padding: 30px;
}

#load {
    margin-top: -20px;
    text-shadow: 0 0 2px white;
    z-index: 1;
}

#dots {
    animation: blink 2s linear infinite;
}

#timer {
    color: red;
    font-weight: bold;
    padding-left: 50px;
    text-shadow: 1px 1px 4px darkGray;
}

table {
    border-collapse: collapse;
}

td, th {
    border: 2px solid orange;
    color: darkRed;
    text-align: center;
}

h3 {
    background-color: navajoWhite;
    margin: 0;
    padding: 5px;
}

.boggleLetters {
    background-color: navajoWhite;
    border: 2px solid orange;
}

.boggleCell {
    border: 10px solid black;
    width: 3rem;
    height: 3rem;
    text-align: center;
    font-weight: bold;
    color: black;
}

.words-found {
    background-color: navajoWhite;
    min-height: 250px;
    padding: 1rem;
    width: 300px;
}

.word-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(70px, max-content));
    gap: 0.1rem;
}

.word-item {
    text-align: center;
    color: black;
}

.score {
    margin-top: 1rem;
    text-align: center;
    background-color: darkRed;
    color: white;
    padding: 0.5rem;
    font-weight: bold;
}

input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.tabs {
    /*border: 5px solid #342821;*/
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0 7px 5px rgba(0,0,0,0.5);

    min-width: 620px;
}

.tabs:hover:not(:has(input:checked)) {
    box-shadow:
            0 0 0 5px #CCA266,
            0 12px 5px rgba(0,0,0,0.5);
}

.tab {
    width: 100%;
    color: #E0C7A3;
    overflow: hidden;
}

.tab-label {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: #342821;
    font-weight: bold;
    cursor: pointer;
}

.tab-label::after {
    content: "\276F";
    width: 1em;
    height: 1em;
    text-align: center;
    transition: all 0.35s;
}

.tab-content {
    max-height: 0;
    padding: 0 10px;
    background: #E0C7A3;
    transition: all 0.35s;
    display: flex;
    justify-content: center;
}

input:checked + .tab-label {
    content: "";
}

input:checked + .tab-label::after {
    transform: rotate(90deg);
}

input:checked ~ .tab-content {
    max-height: 100vh;
    padding: 1em;
}


.title {
    background: rgba(235, 222, 208, 0.2);
    /*border: 2px solid black;*/
    border-radius: 30px;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
    margin: 10px auto;
    /*width: fit-content;*/
}
h1 {
    text-align: center;
    padding: 10px;
    color: #342821;
    margin: 0;
}
.description {
    color: #342821;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
    margin: 5px auto;
    z-index: 1;
}
.glass {
    background: rgba(255, 255, 255, 0.192);
    backdrop-filter: blur(4px);
    width: fit-content;
    max-width: 90%;
    border-radius: 15px;
    /* border: 1px solid rgba(43, 43, 43, 0.568); */
    margin: 5px auto;
}

footer {
    color: #34282199;
    font-size: x-small;
    position: fixed;
    bottom: 0;
    right: 0;
    opacity:0.35;
    padding: 10px;
    z-index: 1000;
}

@keyframes rotateJefe {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
@keyframes blink {
    50% { opacity: 0; }
}



