:root {
  --grey: #2c2c2c;
}

.tool {
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  height: 55px;
  margin: 5px;
  position: relative;
  width: 55px;
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    border: var(--ltgrey) solid 2px;
    border-radius: 50%;
    background: var(--ltblue);
    transform: translate(-50%, -50%);
    transition:
      width 0.25s ease,
      height 0.25s ease;
    z-index: -1;
  }
  &:hover::before {
    width: 0;
    height: 0;
  }
}
.field {
  color: var(--grey);
  display: flex;
  justify-content: center;
  margin: 1.8em auto -0.5em;
  position: relative;
  width: 100%;
  &::before {
    color: inherit;
    content: "";
    font-weight: bold;
    height: 100%;
    left: 0;
    position: absolute;
    text-align: center;
    top: -1.5em;
    width: 100%;
  }
}

.anaconda {
  background-image: url(../img/icons/anaconda.svg);
  &:hover ~ .field::before {
    content: "Anaconda";
  }
}

.aws {
  background-image: url(../img/icons/aws.svg);
  &:hover ~ .field::before {
    content: "AWS : EC2, EFS, ELB";
  }
}

.beautifulsoup {
  background-image: url(../img/icons/bs4.svg);
  &:hover ~ .field::before {
    content: "Beautiful Soup";
  }
}

.c {
  background-image: url(../img/icons/c.svg);
  &:hover ~ .field::before {
    content: "C";
  }
}

.csharp {
  background-image: url(../img/icons/csharp.svg);
  &:hover ~ .field::before {
    content: "C#";
  }
}

.css {
  background-image: url(../img/icons/css.svg);
  &:hover ~ .field::before {
    content: "CSS3";
  }
}

.docker {
  background-image: url(../img/icons/docker.svg);
  &:hover ~ .field::before {
    content: "Docker, Docker Compose";
  }
}

.discordpy {
  background-image: url(../img/icons/discordpy.svg);
  &:hover ~ .field::before {
    content: "Discord.py";
  }
}

.dotnet {
  background-image: url(../img/icons/dotnetcore.svg);
  &:hover ~ .field::before {
    content: ".NET Core";
  }
}

.eclipse {
  background-image: url(../img/icons/eclipse.svg);
  &:hover ~ .field::before {
    content: "Eclipse";
  }
}

.flask {
  background-image: url(../img/icons/flask.svg);
  &:hover ~ .field::before {
    content: "Flask";
  }
}

.gimp {
  background-image: url(../img/icons/gimp.svg);
  &:hover ~ .field::before {
    content: "Gimp";
  }
}

.git {
  background-image: url(../img/icons/git.svg);
  &:hover ~ .field::before {
    content: "Git";
  }
}

.github {
  background-image: url(../img/icons/github.svg);
  &:hover ~ .field::before {
    content: "GitHub";
  }
}

.gradle {
  background-image: url(../img/icons/gradle.svg);
  &:hover ~ .field::before {
    content: "Gradle";
  }
}

.graphql {
  background-image: url(../img/icons/graphql.svg);
  &:hover ~ .field::before {
    content: "GraphQL API";
  }
}

.html {
  background-image: url(../img/icons/html.svg);
  &:hover ~ .field::before {
    content: "HTML5";
  }
}

.inkscape {
  background-image: url(../img/icons/inkscape.svg);
  &:hover ~ .field::before {
    content: "Inkscape";
  }
}

.intellij {
  background-image: url(../img/icons/intelij.svg);
  &:hover ~ .field::before {
    content: "IntelliJ";
  }
}

.java {
  background-image: url(../img/icons/java.svg);
  &:hover ~ .field::before {
    content: "Java";
  }
}

.javascript {
  background-image: url(../img/icons/javascript.svg);
  &:hover ~ .field::before {
    content: "JavaScript";
  }
}

.jetbrains {
  background-image: url(../img/icons/jetbrains.svg);
  &:hover ~ .field::before {
    content: "JetBrains";
  }
}

.jinja {
  background-image: url(../img/icons/jinja.svg);
  &:hover ~ .field::before {
    content: "Jinja";
  }
}

.json {
  background-image: url(../img/icons/json.svg);
  &:hover ~ .field::before {
    content: "JSON";
  }
}

.jupyter {
  background-image: url(../img/icons/jupyter.svg);
  &:hover ~ .field::before {
    content: "Jupyter Notebook, Jupyter Lab";
  }
}

.keynote {
  background-image: url(../img/icons/keynote.svg);
  &:hover ~ .field::before {
    content: "Keynote";
  }
}

.kotlin {
  background-image: url(../img/icons/kotlin.svg);
  &:hover ~ .field::before {
    content: "Kotlin";
  }
}

.latex {
  background-image: url(../img/icons/latex.svg);
  &:hover ~ .field::before {
    content: "LaTeX";
  }
}

.markdown {
  background-image: url(../img/icons/markdown.svg);
  &:hover ~ .field::before {
    content: "Markdown";
  }
}

.mongodb {
  background-image: url(../img/icons/mongodb.svg);
  &:hover ~ .field::before {
    content: "MongoDB";
  }
}

.nltk {
  background-image: url(../img/icons/nltk.svg);
  &:hover ~ .field::before {
    content: "NLTK";
  }
}

.nosql {
  background-image: url(../img/icons/nosql.png);
  &:hover ~ .field::before {
    content: "NoSQL";
  }
}

.numpy {
  background-image: url(../img/icons/numpy.svg);
  &:hover ~ .field::before {
    content: "NumPy";
  }
}

.openpy {
  background-image: url(../img/icons/openpyxl.svg);
  &:hover ~ .field::before {
    content: "OpenPyXL";
  }
}

.p5js {
  background-image: url(../img/icons/p5js.svg);
  &:hover ~ .field::before {
    content: "p5.js";
  }
}

.pandas {
  background-image: url(../img/icons/pandas.svg);
  &:hover ~ .field::before {
    content: "pandas";
  }
}

.photoshop {
  background-image: url(../img/icons/photoshop.svg);
  &:hover ~ .field::before {
    content: "Adobe Photoshop";
  }
}

.postgresql {
  background-image: url(../img/icons/postgresql.svg);
  &:hover ~ .field::before {
    content: "PostgreSQL";
  }
}

.postman {
  background-image: url(../img/icons/postman.svg);
  &:hover ~ .field::before {
    content: "Postman";
  }
}

.powerpoint {
  background-image: url(../img/icons/powerpoint.svg);
  &:hover ~ .field::before {
    content: "Microsoft Office PowerPoint";
  }
}

.pycharm {
  background-image: url(../img/icons/pycharm.svg);
  &:hover ~ .field::before {
    content: "PyCharm";
  }
}

.pygame {
  background-image: url(../img/icons/pygame.svg);
  &:hover ~ .field::before {
    content: "Pygame";
  }
}

.pygbag {
  background-image: url(../img/icons/pygbag.png);
  &:hover ~ .field::before {
    content: "Pygbag";
  }
}

.pyscript {
  background-image: url(../img/icons/pyscript.svg);
  &:hover ~ .field::before {
    content: "Pyscript";
  }
}

.python {
  background-image: url(../img/icons/python.svg);
  &:hover ~ .field::before {
    content: "Python";
  }
}

.pyqt {
  background-image: url(../img/icons/pyqt.svg);
  &:hover ~ .field::before {
    content: "PyQT";
  }
}

.regex {
  background-image: url(../img/icons/regex.svg);
  &:hover ~ .field::before {
    content: "RegEx";
  }
}

.restapi {
  background-image: url(../img/icons/restapi.svg);
  &:hover ~ .field::before {
    content: "REST API";
  }
}

.requests {
  background-image: url(../img/icons/requests.svg);
  &:hover ~ .field::before {
    content: "Requests";
  }
}

.scalar {
  background-image: url(../img/icons/scalar.svg);
  &:hover ~ .field::before {
    content: "Scalar";
  }
}

.spring {
  background-image: url(../img/icons/spring.svg);
  &:hover ~ .field::before {
    content: "Spring";
  }
}

.sql {
  background-image: url(../img/icons/sql.svg);
  &:hover ~ .field::before {
    content: "SQL";
  }
}

.sqlalchemy {
  background-image: url(../img/icons/sqla.svg);
  &:hover ~ .field::before {
    content: "SQLAlchemy";
  }
}

.sqlite {
  background-image: url(../img/icons/sqlite.svg);
  &:hover ~ .field::before {
    content: "SQLite";
  }
}

.sublime {
  background-image: url(../img/icons/sublime.svg);
  &:hover ~ .field::before {
    content: "Sublime Text";
  }
}

.thyme {
  background-image: url(../img/icons/thyme.svg);
  &:hover ~ .field::before {
    content: "Thymeleaf";
  }
}

.tkinter {
  background-image: url(../img/icons/tkinter.svg);
  &:hover ~ .field::before {
    content: "Tkinter";
  }
}

.toml {
  background-image: url(../img/icons/toml.svg);
  &:hover ~ .field::before {
    content: "TOML";
  }
}

.uv {
  background-image: url(../img/icons/uv.svg);
  &:hover ~ .field::before {
    content: "UV";
  }
}

.visualbasic {
  background-image: url(../img/icons/vba.svg);
  &:hover ~ .field::before {
    content: "VBA";
  }
}

.vscode {
  background-image: url(../img/icons/vscode.svg);
  &:hover ~ .field::before {
    content: "Visual Studio Code";
  }
}

.webstorm {
  background-image: url(../img/icons/webstorm.svg);
  &:hover ~ .field::before {
    content: "WebStorm";
  }
}

.yaml {
  background-image: url(../img/icons/yaml.svg);
  &:hover ~ .field::before {
    content: "YAML";
  }
}
