:root {
    --ltgrey: #d7d7d7;
    --ltblue: #dffcfb;
    --purple: #C8B6E8;
    --grey: #2c2c2c;
}

#calculator-box {
    margin: 10px auto;
    background-color: black;
    display: grid;
}

input:checked + .small-glass .buffer .game .terminalHolder #calc-container {
    width: 330px;
}

.title {
    margin-top: 40px;
    border-radius: 14px;
    border: none;
}

button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 24px;
    height: 60px;
    margin: 0;
    outline: none;
    padding: 0;
    width: 60px;
}

.input-container {
    display: block;
    position: relative;
}

#expression {
    width: 100%;
    height: 50px;
    font-size: 48px;
    background: darkslategray;
    color: chartreuse;
    text-align: right;
    padding: 0;
    border: none;
    margin: 5px auto;
}

#expression::placeholder {
    color: chartreuse;
}

.memory {
    display: none;
    color: chartreuse;
    top: 2px;
    left: 2px;
    font-size: 18px;
    position: absolute;
}

.green {
    background-color: mediumseagreen;
}

.pink {
    background-color: mistyrose;
}

.red {
    background-color: hotpink;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
    margin: 5px;
    gap: 5px;
}

.container, .challenges {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.small-glass {
    background: rgba(255, 255, 255, 0.592);
    backdrop-filter: blur(1px);
    border-radius: 15px;
    border: 1px solid rgba(43, 43, 43, 0.568);
    margin: 5px auto;
    width: 100%;
}

.small-glass .buffer h1 {
    background: linear-gradient(to right, var(--ltgrey), rgba(0, 0, 0, 0));
    border-radius: 14px 14px 0 0;
    font-size: 21px;
    margin: 0;
    padding: 10px 15px;
}

input:checked + .small-glass {
    grid-column: span 2;
}

input:checked + .small-glass .buffer .game {
    height: max-content;
}

input:checked + .small-glass .buffer::after {
    content: "...see less";
}

input:checked + .small-glass .buffer .game::after,
input:checked + .challenges .buffer .game::after {
    content: "...see less";
}

ul.glass {
    width: 100%;
    padding: 20px;
    margin-top: 10px;
    padding-bottom: 20px;
}

.sm-link {
    color: var(--ltblue);
    border-radius: 50%;
    border: 2px solid var(--grey);
    font-size: 20px;
    margin-left: 20px;
    justify-items: center;
}

ul ul {
    margin-left: 20px;
}

.ghost {
    background: none;
    backdrop-filter: none;
    border: none;
    max-width: 100%;
}
