:root {
    --pink: #fde2ed;
    --dark: #ebb6fc;
    --purple: #C8B6E8;
    --grey: #2c2c2c;
}

body {
    background-color: #d7d7d7;
    background-image: url('../img/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: top left;
    margin: 0;
    padding: 190px 10px 10px;
}

header {
    border-bottom: 5px solid black;
    height: 165px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 998;
    background-image: url('../img/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: top left;
    /*margin-right: 125px;*/
}

#nav-box {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

img#jefe-pug {
    position: absolute;
    top: 15px;
    height: 150px;
    right: 10px;
}

#pug {
    position: fixed;
    top: 0;
    left: 0;
}

ul ul {
    margin-left: -20px;
}

path {
    display: inline;
    fill: #000000;
}

#loading {
    background: transparent;
    border: none;
    outline: none;
    top: max(240px, 15vh);
}

#jefeSpin {
    animation: rotateJefe 5s linear infinite;
    transform: translateX(20px);
}

#spinCircle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(235, 222, 208, 0.85);
    border-radius: 100%;
    padding: 30px;
}

#load {
    background: none;
    margin-top: -20px;
    text-shadow: 0 0 2px white;
    z-index: 1;
}

#dots {
    animation: blink 2s linear infinite;
}



input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.tabs {
    /*border: 5px solid #342821;*/
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0 7px 5px rgba(0,0,0,0.5);

    min-width: 620px;
}

.tabs:hover:not(:has(input:checked)) {
    box-shadow:
            0 0 0 5px #CCA266,
            0 12px 5px rgba(0,0,0,0.5);
}

.tab {
    width: 100%;
    color: #E0C7A3;
    overflow: hidden;
}

.tab-label {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: #342821;
    font-weight: bold;
    cursor: pointer;
}

.tab-label::after {
    content: "\276F";
    width: 1em;
    height: 1em;
    text-align: center;
    transition: all 0.35s;
}

.tab-content {
    color: #342821;
    max-height: 0;
    padding: 0 10px;
    background: #E0C7A3;
    transition: all 0.35s;
    display: flex;
    justify-content: center;
}

input:checked + .tab-label {
    content: "";
}

input:checked + .tab-label::after {
    transform: rotate(90deg);
}

input:checked ~ .tab-content {
    max-height: 100vh;
    padding: 1em;
}


h2 {
    color: var(--grey);
    margin: 0;
    padding: 10px;
    text-align: center;
}
h2 {
    font-size: 1em;
}
.description {
    color: var(--grey);
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
    margin: 5px auto;
    z-index: 1;
}
.glass {
    background: rgba(255, 255, 255, 0.592);
    backdrop-filter: blur(1px);
    width: fit-content;
    max-width: 90%;
    border-radius: 15px;
    border: 1px solid rgba(43, 43, 43, 0.568);
    margin: 5px auto;
}

h1 {
    background: linear-gradient(to right, var(--purple), rgba(0, 0, 0, 0));
    border-radius: 14px 14px 0 0;
    margin: 0;
    padding: 10px 30px;
}

.buffer {
    margin: 0;
}
.expand {
    border-bottom: 1px solid rgba(43, 43, 43, 0.568);;
}

.skills {
    position: relative;
    display: grid;
    grid-gap: 0;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-flow: dense;
    grid-auto-rows: auto;
    height: 170px;
    margin: 0 auto;
    overflow: hidden;
    width: 100%;
}

.buffer::after, .skills::after {
    font-size: small;
    padding: 5px;
    position: absolute;
    right: 2%;
    text-shadow: 0 0 1px var(--grey);
}
.buffer::after {
    content: "...see more";
    top: 25px;
}
.skills::after {
    bottom: 0;
    content: " ";
}

input:checked + .buffer .skills {
    height: max-content;
}
input:checked + .buffer::after {
    content: "...see less";
}
input:checked + .buffer .skills::after{
    content: "...see less";
}


footer {
    color: black;
    font-size: x-small;
    position: fixed;
    bottom: 0;
    right: 0;
    opacity:0.25;
    padding: 10px;
    z-index: 1000;
}

i {
    font-size: xx-large;
}











    @keyframes rotateJefe {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
    @keyframes blink {
        50% { opacity: 0; }
    }
}



